body{
    background-image: linear-gradient(to bottom, lightgray, #cce6ff);
}

h1{
    text-align: center;
}

h2{
    text-align: right;
}

.head{
    font-size: 40px;
}

.headContainer{
background-color: gray;
height: 100%;
text-align: center;
}

#table{
    width: 100%;
    text-emphasis-color: white;
}

#tableHead{
    background-color: darkgray;
    padding: 30px;
    border-width: 10px;
    border-color: black;
}

#tableBody{
    border-style: solid;
    padding: 30px;
    border-width: 30px;
    border-color: black;
    background-color: cadetblue;
}

td{
    text-align: center;
    border-color: black;
}

#monthTotal{
    text-align: right;
}

.red{
    background-color: red;
}

span{
    border-color: black;

}

.inputForm{
    text-align: center;
}

.foot{
    background-color: white;
}